
div#episode-header {
  // @include flexbox();
  // flex-wrap: wrap;
  // justify-content: space-between;
  h4, p {
      color: rgba(116, 150, 159, 0.5);
  }



}

div#episode-details {
  text-align: left;
  padding-bottom: 40px;


  h3 {
    color: rgba(59, 109, 128, 0.52);
  }
}

div.tv-links {
  h3 {
    color: rgba(83, 115, 127, 0.63);
    padding-left: 5px;
  }


}
