body {
  padding-top: 80px;
  background-color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
}

div.content-container {
  @extend .container_notbs;

}

.btn {
  color: #3B6D80;
  background-color: #222222;
  border-color: #333;
  width: 23%;
  margin: 1%;
  overflow: hidden;
  transition: background-color 0.2s ease;


    @include media-query(400px) {
      width: 48%;
    }
}

.btn:hover {
  color: #222222;
  background-color: #3B6D80;
}

.btn[disabled] {
  color: rgba(102, 102, 103, 1);
}
