div.movie-index, div.tv-index, div.book-index {
  h1 {
    color: #3B6D80;
    margin: 20px;
    text-align: center;
  }


  img.main-page-poster {
    width: 20%;
    margin: 2%;


    @include media-query(570px) {
      width: 45%;
    }

    @include media-query(300px) {
      width: 96%;
    }
  }

  img.main-page-book {
    width: 20%;
    margin: 2%;


    @include media-query(570px) {
      width: 45%;
    }

    @include media-query(300px) {
      width: 96%;
    }
  }


  img.tv-poster {
    width: 28%;
    margin: 2%;

    @include media-query(760px) {
      width: 45%;
    }

    @include media-query(450px) {
      width: 96%;
    }
  }
}

div.main-page-container {
    margin-bottom: 8%;
    border-bottom: 1px solid #3B6D80;
}

h1  {
  &#main-banner {
    text-align: center;
    font-size: 6em;
    color: #3B6D80;
    margin-bottom: 6%;

    @include media-query(600px) {
      font-size: 5em;
    }
    @include media-query(500px) {
      font-size: 4em;
    }
    @include media-query(420px) {
      font-size: 3em;
    }
    @include media-query(320px) {
      font-size: 2.7em;
    }
  }

  &.section-headline {
    color: #3B6D80;
    padding-left: 6%;
    margin-bottom: 0;

  }
  @include media-query(420px) {
    font-size: 2em;
  }
}

h1#type-banner {
  text-align: center;
  color: #3B6D80;
  font-size: 5em;

  @include media-query(750px) {
    font-size: 4em;
  }

  @include media-query(420px) {
    font-size: 3em;
  }
  @include media-query(320px) {
    font-size: 2.7em;
  }
  span.type-wrapper {
    @include media-query(560px) {
      display: block;
    }
    span.typer {
      font-weight: bold;
    }
  }

}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
