div.movie-index {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;


  img.main-page-poster {
    width: 29%;
    margin: 2%;

    @include media-query(760px) {
      width: 28%;
    }

    @include media-query(450px) {
      width: 45%;
    }
  }
}


