div#moviedetails {

    img.blurred-background {

        z-index: -1;
        -webkit-filter: blur(30px) opacity(50%);
        filter: blur(30px) opacity(50%);
        width: 98vw;
        position: fixed;
        top: 0;
        left: 0;

    }

    img.poster-large {
      @extend .grid_6, .suffix_1;


    }

    div#movieinfo {
      @extend .grid_10;
      background: rgba(255,255,255, 0.5);
      padding: 30px;

      h1 {
        margin-top: 0px;
      }

      p {
        padding-top: 10px;
      }
    }
}
