
<div class="modal-header">

    <h2>Login </h2>
</div>

    <form class="login-form" name="loginForm" ng-submit="loginController.login(loginController.credentials)" novalidate>
        <div class="form-group">
            <input class="form-control" id="username" type="text" placeholder="Username"  name="username" ng-model="loginController.credentials.username" required>


        </div>

        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" ng-model="loginController.credentials.password" placeholder="Password" required>

        </div>
        <div class="modal-footer">

            <div class="form-group">
                <input type="submit" class="btn button-submit" ng-disabled="loginForm.$invalid" value="Login">
            </div>
        </div>
    </form>



