

<div class="main-page-container ">
  <h1 class="section-headline">watch?</h1>
  <div class="movie-index">
    <a ng-repeat="movie in movieController.movies" ng-href="#/movie/{{movie.guidebox_id}}" id="{{movie.guidebox_id}}">
    <img class="main-page-poster" ng-src="{{movie.thumbnail}}" alt="{{movie.title}}"></a>
  </div>
</div>



<div class="main-page-container" ng-controller="TvController as tvController">
  <h1 class="section-headline">binge?</h1>

  <div class="tv-index">
    <a ng-repeat="show in tvController.shows" ng-href="#/tv/{{show.guidebox_id}}" id="{{show.guidebox_id}}">
    <img class="main-page-poster" ng-src="{{show.poster_path}}" alt="{{show.title}}"> </a>
  </div>
</div>

<div class="main-page-container" ng-controller="BookController as bookController">
  <h1 class="section-headline">read?</h1>

  <div class="tv-index">
    <a ng-repeat="book in bookController.books" ng-href="#/book/{{book.google_id}}">
    <img class="main-page-book" ng-src="{{book.thumbnail}}" alt="{{book.title}}"> </a>
  </div>
</div>



