          <form class="form-inline" name="searchForm" ng-submit="searchController.search(searchController.search_params)">
            <div class="form-group">
                <input id="search-query" type="text" name="search-query" ng-model="searchController.search_params.search_query" class="form-control" required>

                <select class="form-control" ng-model="searchController.search_params.media_type" required>
                  <option selected>Movie</option>
                  <!-- <option>TV</option> -->
                </select>

                <input type="submit" class="button-submit" ng-disabled="searchForm.$invalid" value="Search">
              </div>
          </form>
