<div class="modal-header">

    <h2>Search </h2>
</div>


<form name="searchForm" ng-submit="searchController.search(searchController.search_params)">
  <div class="form-group">
      <select class="form-inline" ng-model="searchController.search_params.media_type" required>
        <option selected>Movie</option>
        <!-- <option>TV</option> -->
      </select>

      <input id="search-query" type="text" name="search-query" ng-model="searchController.search_params.search_query" class="form-control" placeholder="Search title" required>
    </div>

    <div class="modal-footer">

        <div class="form-group">
          <input type="submit" class="btn button-submit" ng-disabled="searchForm.$invalid" value="Search">
        </div>
    </div>




</form>
