
<div id="tvdetails">
    <img class="poster-large" ng-src="{{tvDetailsController.tvShow.poster_path}}" alt="">

    <img class="blurred-background" ng-src="{{tvDetailsController.tvShow.poster_path}}" alt="" >



    <div id="tvinfo" >
        <div id="tv-header">
            <h1>{{tvDetailsController.tvShow.title}}</h1>
        </div>

        <div id="tv-buttons">
            <button ng-show="tvDetailsController.isAuthenticated()" class="btn btn-xs " ng-click="tvDetailsController.updatePlaylist()"><span ng-hide="tvDetailsController.isInPlaylist()">Add to</span><span ng-show="tvDetailsController.isInPlaylist()">Remove from</span> Queue</button>
        </div>

        <section class="detail-window">
            <div id="tv-overview">
                <p>{{tvDetailsController.tvShow.overview}}</p>
            </div>
        </section>
    </div>

    <div id="seasons-container" ng-if="tvDetailsController.tvShow.seasons">
        <div id="tv-seasons" >
            <article class="season" ng-repeat="season in tvDetailsController.tvShow.seasons ">
                <h4>Season {{season.season_number}} </h4>
                <button class="btn btn-xs" ng-hide="season.episodes" ng-click="tvDetailsController.getEpisodes(season.season_number)">View Episode Links</button>
                <section ng-if="season.episodes">

                    <div ng-repeat="episode in season.episodes">Episode {{episode.episode_number}} - {{episode.title}}</div>
                </section>
            </article>
        </div>
    </div>


</div>



<!-- <button type="toggle" class="btn btn-xs" id="toggle-reviews" ng-click="tvDetailsController.showEpisodes = !tvDetailsController.showEpisodes"><span ng-hide="tvDetailsController.showEpisodes">Show</span><span ng-show="tvDetailsController.showEpisodes">Hide</span> Episodes</button> -->


<!--

 <div id="web-links">
                <div class="tv-links" ng-if="tvDetailsController.hasPurchaseLinks()">
                    <h3>Purchase</h3>
                    <div id="purchase-links">
                        <a class="btn btn-xs" ng-repeat="source in tvDetailsController.tvShow.purchase_web_sources" ng-href="{{source.link}}">{{source.display_name}}</a>
                    </div>
                </div>


                <div  class="tv-links" id="streaming-links" ng-if="tvDetailsController.hasStreamingLinks()">
                    <h3>Streaming</h3>
                    <a class="btn btn-xs" ng-repeat="source in tvDetailsController.tvShow.subscription_web_sources" ng-href="{{source.link}}">{{source.display_name}}</a>
                    <a class="btn btn-xs" ng-if="tvDetailsController.tvShow.netflixLink" ng-href="{{tvDetailsController.tvShow.netflixLink}}
                    ">Search Netflix</a>
                </div>



                <div class="detail-window" id="free-links" ng-if="tvDetailsController.hasFreeLinks()">
                    <h3>Free</h3>
                    <a class="btn btn-xs" ng-repeat="source in tvDetailsController.tvShow.free_web_sources" ng-href="{{source.link}}">{{source.display_name}}</a>
                </div>
            </div> -->
